.Quiz-app{
    background-color: #C4C4C4;
    border-radius: 10px;
    margin:5px;
    display: flex;
    width:1000px;
    justify-content: space-between;
    color: #000000;
    height:400px
}
.Quiz-Options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.Quiz-Question{
    font-size: 25px;
    border-radius: 10px;
    margin: 10px;   
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.Quiz-QuestionExplain-correct{
    font-size: 25px;
    color: rgb(131, 255, 131);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.Quiz-QuestionExplain-wrong{
    font-size: 25px;
    color: rgb(255, 131, 131);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.Quiz-buttons  {
    color: white;
    cursor: pointer;
    background-color: #FF443A;
    border-radius: 10px;
    margin: 8px;
    padding: 3px;
    width: 300px; 
    height: auto; 
    align-items: center;
    border: 5px solid #FF443A;
}
.Next-button{
    
    color: white;
    cursor: pointer;
    background-color: #BAD2DD;
    border-radius: 10px;
    margin: 10px;
    padding: 3px;
    width: 200px; 
    height: 30px; 
    align-items: right;
    border: 5px solid #BAD2DD;
}
button.Quiz-buttons:hover{
    background-color: #BAD2DD;
    border: 5px solid       #ffffff;
}
button.Quiz-buttons:focus{
    background-color: #BAD2DD;
    border: 5px solid       #ffffff;
}