/* Educational Content */
.content-font {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.font-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.table-content {
  font-family: 'Montserrat', sans-serif;
  position: center;
  left: 10;
  text-align: center;
  font-size: 25px;
}

.table-list {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 55px;
  padding: 4;
  border: none;
  background: none;
  margin-left: 30px;
}

.on-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 55px;
  padding: 4;
  border: none;
  margin-left: 30px;
  text-decoration: underline;
  text-decoration-color: #FF443A;
}
button.table-buttons:hover{
  background-color: #FF443A;
  border: 5px solid       #ffffff;
}
.gif {
  width: 300;
  height: 200;
  float: right;
  border-radius: 7;
  display: 'flex';
}

.sim-app{
  background-color: #C4C4C4;
  border-radius: 10px;
  margin:5px;
  display: flex;
  width:1000px;
  color: #000000;
  height:500px;
}

/* Simulation */
.str_button { 
  background-color: #FF443A;
  font-size: 40px;
  height: 80px;
  width: 250px;
  margin-top: 220px;
  border-radius: 45px;
  text-size-adjust: 10px;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.start-container { 
  background-Image: url("../Assets/SimBackground.png");
  background-size: 110%;
  border-radius: 10px;
  width: 1000px;
  height: 600px;
  margin-top: -65px;
  text-align: center;
}

.start-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 100px;
}
/*
.create { 
  background-Image: url("./images/space_form.jpg");
}
*/
.direction-form select{
  padding: 8px 10px;
  background-color: #BAD2DD;
  border-radius: 5px;
  margin: 5px 0;
  font-size: large;
}

.submit_button { 
  background-color: orangered;
  border-radius: 10px;
  height: 45px;
  width: 130px;
  font-size: 18px;
  margin: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700px;
  color: #ffffff;
}

.wind-form input { 
  padding: 8px 10px;
  border-radius: 5px ;
  margin: 5px 0;
  background-color: #BAD2DD;
  font-size: large;
  font-family: 'Montserrat', sans-serif;
}

.finSize-form input { 
  padding: 8px 10px;
  border-radius: 5px ;
  margin: 5px 0;
  background-color: #BAD2DD;
  font-size: large;
  font-family: 'Montserrat', sans-serif;

}

.form-data { 
  font-size:large;
}

.form-container {
  background-color: #30394C;
  border-radius: 10px;
  width: 1000px;
  height: 580px;
  margin-top: -85px;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.sim-container-left {
  background-Image: url("../Assets/SimBackground-WindLeft.png");
  background-size: 110%;
  border-radius: 10px;
  width: 1000px;
  height: 600px;
  margin-top: -65px;
  text-align: center;
  
}

.sim-container-right {
  background-Image: url("../Assets/SimBackground-WindRight.png");
  background-size: 110%;
  border-radius: 10px;
  width: 1000px;
  height: 600px;
  margin-top: -65px;
  text-align: center;
}

.rocket {
  height: 100px;
  width: 100px;
  transform: rotate(90deg);
}

.return_button { 
  background-color: #FF443A;
  font-size: 20px;
  height: 60px;
  width: 200px;
  margin-top: 400px;
  margin-left: 750px;
  border-radius: 45px;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.mph_label {
  font-size: 20px;
  margin-left: 50px;
  text-align: left;
  margin-top: -43px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.path20r { offset-path: path("M500,550 C500,300 250,300 100,300"); }
.path19r { offset-path: path("M500,550 C500,300 261,296 100,288"); }
.path18r { offset-path: path("M500,550 C500,300 272,284 100,272"); }
.path17r { offset-path: path("M500,550 C500,300 283,270 100,255"); }
.path16r { offset-path: path("M500,550 C500,300 294,256 100,240"); }
.path15r { offset-path: path("M500,550 C500,300 305,242 100,220"); }
.path14r { offset-path: path("M500,550 C500,300 316,228 100,190"); }
.path13r { offset-path: path("M500,550 C500,300 327,214 100,156"); }
.path12r { offset-path: path("M500,550 C500,300 338,200 100,120"); }
.path11r { offset-path: path("M500,550 C500,300 349,186 100,80"); }
.path10r { offset-path: path("M500,550 C500,300 360,172 118,50"); }
.path9r { offset-path: path("M500,550 C500,300 371,158 180,50"); }
.path8r { offset-path: path("M500,550 C500,300 382,144 240,50"); }
.path7r { offset-path: path("M500,550 C500,300 393,130 290,50"); }
.path6r { offset-path: path("M500,550 C500,300 404,116 328,50"); }
.path5r { offset-path: path("M500,550 C500,300 415,102 360,50"); }
.path4r { offset-path: path("M500,550 C500,300 426,88 395,50"); }
.path3r { offset-path: path("M500,550 C500,300 438,74 420,50"); }
.path2r { offset-path: path("M500,550 C500,290 450,65 448,55"); }

.path20l { offset-path: path("M500,550 C500,300 750,300 900,300"); }
.path19l { offset-path: path("M500,550 C500,300 739,296 900,288"); }
.path18l { offset-path: path("M500,550 C500,300 728,284 900,272"); }
.path17l { offset-path: path("M500,550 C500,300 717,270 900,255"); }
.path16l { offset-path: path("M500,550 C500,300 706,256 900,240"); }
.path15l { offset-path: path("M500,550 C500,300 695,242 900,220"); }
.path14l { offset-path: path("M500,550 C500,300 684,228 900,190"); }
.path13l { offset-path: path("M500,550 C500,300 673,214 900,156"); }
.path12l { offset-path: path("M500,550 C500,300 662,200 900,120"); }
.path11l { offset-path: path("M500,550 C500,300 651,186 900,80"); }
.path10l { offset-path: path("M500,550 C500,300 640,172 882,50"); }
.path9l { offset-path: path("M500,550 C500,300 629,158 820,50"); }
.path8l { offset-path: path("M500,550 C500,300 618,144 760,50"); }
.path7l { offset-path: path("M500,550 C500,300 607,130 710,50"); }
.path6l { offset-path: path("M500,550 C500,300 596,116 672,50"); }
.path5l { offset-path: path("M500,550 C500,300 585,102 640,50"); }
.path4l { offset-path: path("M500,550 C500,300 574,88 605,50"); }
.path3l { offset-path: path("M500,550 C500,300 562,74 580,50"); }
.path2l { offset-path: path("M500,550 C500,290 550,65 552,55"); }